.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #fff;
    width: 100%;
    z-index: 100;
}

.header__icon{
    object-fit: contain;
    height:100px;
    margin-left:20px;
}

.header__center{
    display: flex;
    align-items: center;
    flex:1;
    max-width: fit-content;
    padding: 23px;
    height: 30px;
    border-radius: 999px;
    border:1px solid lightgrey;
    

}

.header__center input{
    border:none;
    padding:10px;
    outline-width: 0;
}

.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:15vw;
    margin-right: 60px;
}

.header__right p{
    margin: 0;
}